body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 4000px;
}
ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: block;
}
#container1 {
	position: fixed;
	z-index: 1;
	background: rgb(0, 0, 0, 0.6);
	height: 20%;
}
#logo {
	position: absolute;
	left: 160px;
	top: 10px;
	width: 400px;
	color: #fff;
	font-size: 50px;
}
#logo:hover {
	color: #E49A2B;
}
.navbar {
	position: relative;
}
#menu a {
	color: #fff;
}
#menu {
	position: absolute;
	top: 30px;
	left: 450px;
	font-size: 20px;
}
#menu a:hover{
	border-bottom: 2px solid #E49A2B;
	color: #E49A2B;
}
#container2 {
	position: absolute;
	left: 75%;
	top: 7%;
}
.img2{
   width: 100%;
   height: 600px;
}
#btn1{
	position: fixed;
	margin-top: 30px;
	width: 100px;
	height: 50px;
	border: none;
} 
#btn2{
	position: fixed;
	margin-top: 30px;
	margin-left: 110px;
	width: 100px;
	height: 50px;
	border: none;
} 
#btn-drop{
	position: relative;
    right: 10%;
	width: 100px;
	height: 50px;
	font-size: 20px;
	color: #fff;
	border: none;
}
.icon {
	display: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 10px;
  top: 50px;
  background-color: #f1f1f1;
  min-width: 100px;
}
.dropdown1 {
	position: absolute;
	left: 220px;
	top: 60px;
	background-color:#f9f9f9;
	width: 100px;
	min-height: 100px;
	z-index: 1;
	text-align: center;
	font-family: serif;
	display: none;
}
#dropdwn1 a {
	color: #000;
	text-decoration: none;
	padding: 10px;
	display: block;
}
#dropdwn1 a:hover {
	background-color: #ddd;
}
.show {display: block;}
/*************** SignUp ************/
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  
}
#signup {
	position: absolute;
	left: 35%;
	top: 0;
}
.cancelbtn, .signupbtn {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}
button:hover {
  opacity: 0.8;
}
#close {
	position: absolute;
	left: 92%;
	top: 0;
	font-weight: bold;
	font-size: 40px;
	cursor: pointer;
}
#close:hover {
	color: red;
}
.cancelbtn {
  background-color: #f44336;
  width: 30%;
}
.signupbtn {
	width: 30%;
	background-color: #4CAF50
}
.container4 {
  padding: 20px;
}
.modal {
  display: none; 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-color: rgb(0, 0, 0, 0.8);
}
.modal-content {
  padding-top: 60px;
  top: 40px;
  left: 360px;
}
#form {
	width: 45%;
	height: 530px;
}
/*********** Log in ***********/
input[type=text], input[type=password]{ 
	width: 100%;
	background-color: #f1f1f1;
}
#login{
	position: absolute;
	left: 20%;
	top: 10px;
}
#closed {
	position: absolute;
	left: 92%;
	top: 0;
	cursor: pointer;
	font-weight: bold;
	font-size: 40px;
}
#closed:hover {
	color: red;
}
.container5 {
    padding: 16px;
}
.loginbtn {
	position: absolute;
	width: 200px;
	height: 50px;
	border: none;
	font-size: 20px;
	background-color: #4CAF50;
	color: #fff;
}
.forgotpsw {
	position: absolute;
	left: 300px;
	top: 340px;
	font-size: 20px;
}
.user {
    position: absolute;
	left: 270px;
	top: 370px;
	font-size: 20px;
	color: blue;	
}
#form2 {
	width: 45%;
	height: 75%;
}
/************ container3 **********/
.border{
	position: absolute;
	left: 280px;
	top: 250px;
	width: 55%;
	text-align: center;
	color: #E8E8E8;
	font-size: 40px;
	font-family: 'Courier New', Courier, monospace;
}
.btn-start {
	position: absolute;
	width: 100px;
	left: 550px;
	top: 450px;
}


#content1 {
	display: none;
}
.content2 {
	display: flex;
	width: 800px; 
    margin-top: 30px;
}
#div1 {
	position: absolute;
	width: 600px;
	left: 600px; 
    top: 180px;
	height: 400px;
	font-family: Aleo;
	font-size: 45px;
	background-color: #E8E8E8;
	border-radius: 10px;
}
#div2 {
	position: relative;
	background-color: #161119;
	top: 20px;  
	left: 0px;
	width: 500px;
	height: 190px;
	display: flex;
}
#JAVA {
	position: absolute;
	left: 300px;
	top: 230px;
	width: 400px;
	font-family: Aleo;
    color: #fff; 
}
#p2 {
	position: absolute;
	left: 270px;
	top: 350px;
	width: 500px;
	font-family: Aleo;
	font-size: 30px;
	color: #fff;
}
#btn4 {
	position: absolute;
	left: 330px;
	top: 420px;
	width: 150px;
	
}
#div {
	position: absolute;
	top: 200px;
}
.p12 {
	position: relative;
	left: 30px;
	width: 400px;
	top: 20px; 
	color: #000;
}
.p1 {
	position: relative;
	width: 125px;
	left: 15px;
	top: 15px; 
	font-family: Aleo;
	font-size: 25px;
	color: #9662B6;
}
.p2 {
	position: relative;
	width: 120px;
	left: 15px;
	margin-top: 15px;
	font-family: Aleo;
	font-size: 25px;
	color: #E49A2B;
}
.p3 {
	position: relative;
	width: 10px;
	margin-top: 15px;
	font-family: Aleo;
	font-size: 25px;
	color:  #614CE2;
}
.p4 {
	position: absolute;
	top: 45px; 
	left: 50px;
	width: 250px;
	font-family: Aleo;
	font-size: 25px;
	color: #9662B6; 
}
.p5 {
	position: absolute;
    top: 45px;
    left: 233px;
	width: 100px;
	font-family: Aleo;
	font-size: 25px;
	color: #3A69C4;
}
.p6 {
	position: relative;
    left: 35px;
	top: 45px;
	font-family: Aleo;
	font-size: 25px; 
	color: #C47518;
}
.p7 {
	position: relative;
	left: 40px;
	top: 45px; 
	color:  #614CE2;
    font-family: Aleo;
    font-size: 25px;
}
.p8 {
	position: absolute;
    width: 300px;
    left: 50px;
	top: 75px; 
	color:  #C07E1B;
    font-family: Aleo;
    font-size: 25px;
}
.p9 {
	position: absolute;
    width: 300px;
    left: 236px;
	top: 75px; 
	color:  #68A736;
    font-family: Aleo;
    font-size: 25px;
}
.p10 {
	position: absolute;
    width: 10px;
    left: 47px;
	top: 105px; 
	color:  #614CE2;
    font-family: Aleo;
    font-size: 25px;
}
.p11 {
	position: absolute;
    width: 10px;
    left: 19px;
	top: 134px; 
	color:  #614CE2;
    font-family: Aleo;
    font-size: 25px;
}
#btn5 {
	position: relative;
	left: 35px;
	width: 200px;
	height: 50px;
	margin-top: 50px;
	font-family: Aleo;
	font-size: 25px;
}
#AboutUs {
	display: none;
}
#info{
    display: flex;
}
#h1 {
	position: absolute;
	left: 520px; 
	top: 140px;
	font-size: 70px;
	font-weight: normal;
	color: rgb(255, 255, 255);
}
#p13 {
	position: absolute;
	left: 380px;
	top: 260px;
	width: 65%;
	font-size: 23px;
	color: rgb(255, 255, 255);
}
.section-content1 {
	background-color: #f1f1f1; height: 600px;
}
#heading1 {
	position: relative;
	left: 230px;
	width: 600px;
}
#arrow-up{
	font-size: 55px;
	font-weight: bold;
}
.fa-angle-up {
	right: 15px;
	top: 500px;
	position: fixed;
	color: #fff;
	cursor: pointer;
	background-color: rgb(0, 142, 177);
	width: 60px;
	height: 60px;
	border-radius: 60px;
	padding-top: 0px;
	padding-left: 12px;
}
.fa-angle-up:hover{
	background-color: #424242;
	color: #000;
}
.Exercises {
	width: 100%;
	height: 240px;
	background-color: #424242;
}
.heading2 {
	position: relative;
	margin-left: 35%;
	color: #fff;
}
.btn-html {
	position: relative;
	left: 20.3%;
	width: 20%;
	font-size: 10px;
}
#css2 {
	position: absolute;
	left: 25%;
	top: 100px;
	width: 600px;
	height: 350px;
	border-radius: 0px;
	font-size: 25px;
	text-align: center;
	padding-top: 0px;
	color: #000;
	background-color: rgb(26, 174, 194);
}
#css-q{
	font-size: 30px;
	margin-top: 20px;
}
.closes {
	position: absolute;
	right: 3%;
	top:0%;
	color: #fff;
	cursor: pointer;
	font-size: 50px;
}
#ex2 {
	margin-top: 25px;
}
textarea{
	position: absolute;
	left: 20px;
	top:60px;
	width: 560px;
	height: 200px;
}
#js-submit{
	position: relative;
	width: 50%;
	top: 220px;
	left: 150px;
	background-color: #4CAF50;
	border: none;
}
#html-submit{
	position: relative;
	width: 50%;
	top: 230px;
	left: 150px;
	background-color: #4CAF50;
	border: none;
}
#css-submit{
	position: relative;
	width: 50%;
	top: 50px;
	left: 150px;
	background-color: #4CAF50;
	border: none;
}
input[type=radio]{
	position: relative;
	left: 170px;
	top: 27px;
}
.btn-js {
	position: relative;
	width: 20%;
	font-size: 10px;
}
.btn-css {
	position: relative;
	left: 40.7%;
	width: 20%;
	font-size: 10px;
}
.btn-java {
	position: absolute;
	left: 17%;
	top: 770px;
	width: 7%;
}
.btn-c {
	position: absolute;
	left: 27%;
	top: 770px;
	width: 7%;
}
.btn-sql {
	position: absolute;
	left: 37%;
	top: 770px;
	width: 7%;
}
.btn-jq {
	position: absolute;
	left: 47%;
	top: 770px;
	width: 7%;
}
.btn-python{
	position: absolute;
	left: 57%;
	top: 770px;
	width: 7%;
}
.btn-php{
	position: absolute;
	left: 67%;
	top: 770px;
	width: 7%;
}
.btn-C{
	position: absolute;
	left: 77%;
	top: 770px;
	width: 7%;
}
.css {
	position: relative;
	left: 10%;
	width: 30%;
	top: 40px;
}
.property1 {
	color: #f44336;
}
.property2 {
	color: cadetblue;
}
.property3 {
	color: #4CAF50;
}
#btn-try {
	position: relative;
	left: 10%;
	top: 12%;
	width: 10%;
	height: 7%;
	font-size: 20px;
	border: none;
}
#box-code2{
	display: none;
}
#box-code3 {
	padding-top: 5px;
	font-size: 20px;
	margin-top: 50px;
	width: 40%;
	height: 350px;
	z-index: 1;
	border-radius: 0;
	background-color:white;
	border-left:5px solid #4CAF50;
}
#css {
	position: absolute;
	left: 65%;
	top: 970px;
}
#description-css{
	position: absolute;
	left: 55%;
	top: 1080px;
	font-size: 25px;
	color: #000;
	font-weight: 600;
}
#btn-css {
	position: absolute;
	left: 62%;
	top: 1150px;
	width: 10%;
	height: 7%;
	font-size: 18px;
	border: none;
}
#btn-info1 {
	position: absolute;
	left: 72.5%;
	top: 1150px;
	width: 10%;
	height: 7%;
	font-size: 18px;
	border: none;
}
.section-content2 {
	width: 100%;
	height: 500px;
	background-color: #494949;
}
.box {
	position: relative;
	left: 10%;
	top: 5%;
	width: 35%;
	height: 200px;
	background-color: #fff;
}
.java {
	position: relative;
	left: 30%;
	top:5%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
}
.description-1{
	position: relative;
	left: 20%;
	top: 5%;
	font-size: 20px;
}
.java-img {
	position: absolute;
	margin-left: -400px;
	margin-top: 100px;
	width: 30%;
	z-index: 1;
	height: 350px;
	background-color: #f1f1f1;
}
.btn5 {
	position: relative;
	width: 120px;
	height: 35px;
	left: 33%;
	top: 8%;
	border: none;
}
#btn-5:hover{
	background-color: #dbdbdb;
	color: #000;
}
.box2 {
	position: absolute;
	left: 50%;
	top: 1465px;
	width: 35%;
	height: 200px;
	background-color: #fff;
}
.python {
	position: relative;
	left: 28%;
	top:5%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
}
.description-2{
	position: relative;
	left: 23%;
	top: 5%;
	font-size: 20px;
}
.btn6 {
	position: relative;
	width: 120px;
	height: 35px;
	left: 33%;
	top: 8%;
	border: none;
}
.Python-img {
	position: absolute;
	left: -750px;
	top: 1500px;
	width: 40%;
	z-index: 1;
	height: 300px;
	background-color: #f1f1f1;
}
#btn-6:hover{
	background-color: #dbdbdb;
	color: #000;
}
.box3 {
	position: relative;
	left: 10%;
	top: 15%;
	width: 35%;
	height: 200px;
	background-color: #fff;
}
.php {
	position: relative;
	left: 33%;
	top:5%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
}
.description-3{
	position: relative;
	left: 12%;
	top: 2%;
	font-size: 20px;
}
.btn7 {
	position: relative;
	width: 120px;
	height: 35px;
	left: 33%;
	top: 8%;
	border: none;
}
#btn-7:hover{
	background-color: #dbdbdb;
	color: #000;
}
.box4 {
	position: absolute;
	left: 50%;
	top: 1715px;
	width: 35%;
	height: 200px;
	background-color: #fff;
}
.JQuery {
	position: relative;
	left: 25%;
	top: 3%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
}
.description-4{
	position: relative;
	left: 5%;
	top: 5%;
	font-size: 20px;
}
.btn8 {
	position: relative;
	width: 120px;
	height: 35px;
	left: 33%;
	top: 8%;
	border: none;
}
#btn-8:hover{
	background-color: #dbdbdb;
	color: #000;
}
.Code-example {
	position: relative;
	left: 3%;
	top: 30px;
	color: #000;
}
#code1 {
	position: relative;
	top: 50px;
	width: 80%;
	height: 170px;
	background-color: #f1f1f1;
	box-shadow: 0 4px 20px 0px rgb(0, 0, 0, 0.4);
    border-left: 3px solid #4CAF50;
}
#learn1{
	color: #000;
	font-size: 20px; 
	position: relative; 
	top: 5px;
}
#code2 {
	position: relative;
	top: 90px;
	width: 80%;
	height: 170px;
	background-color: #f1f1f1;
	box-shadow: 0 4px 20px 0px rgb(0, 0, 0, 0.4);
    border-left: 3px solid #4CAF50;
}
#learn2{
	position: relative; color: #000; font-size: 17px; top: 10px;
}
#code3 {
	position: relative;
	top: 130px;
	width: 80%;
	height: 170px;
	background-color: #f1f1f1;
	box-shadow: 0 4px 20px 0px rgb(0, 0, 0, 0.4);
    border-left: 3px solid #4CAF50;
}
#learn3 {
	position: relative; top: 10px; font-size: 17px; color: #000;
}
.dropdown-content3 {
	position: absolute;
	display: none;
	min-width: 100px;
	z-index: 1;
	border-left: 3px solid #4CAF50;
	background-color: #f1f1f1;
}
.dropdown-content3 a{
  display: block;
  color: #000;
  padding: 8px;
}
.dropdown3:hover .dropdown-content3 {display: block;}
#popup{
    display: none;
	width: 100%;
	height: 100%;
	position: fixed; 
	background-color: rgb(0, 0, 0, 0.6); 
	left: 0px; 
	top: 0;
}
#popup2{
	width: 40%;
	top: 200px;
	height: 200px;
    text-align: center;
} 
#code4 {
	position: relative;
	top: 170px;
	width: 80%;
	height: 170px;
	box-shadow: 0 4px 20px 0px rgb(0, 0, 0, 0.4);
	border-left: 3px solid #4CAF50;
	background-color: #f1f1f1;
}
#learn4 {
	font-size: 17px; color: #000;
}
.alert-h1 {
	padding-top: 10px;
}
#primary {
	width: 120px;
	height: 50px;
	border: none;
	color: #fff;
}
#secondary {
	width: 120px;
	height: 50px;
	border: none;
	color: #fff;
}
#success {
	width: 120px;
	height: 50px;
	border: none;
	color: #fff;
}
#warning {
	width: 120px;
	height: 50px;
	border: none;
	color: #fff;
}
#danger {
	width: 120px;
	height: 50px;
	border: none;
	color: #fff;
}
#code5 {
	position: relative;
	top: 210px;
	width: 80%;
	height: 170px;
	border-left: 3px solid #4CAF50;
	box-shadow: 0 4px 20px 0px rgb(0, 0, 0, 0.4);
	background-color: #f1f1f1;
}
#learn5 {
	font-size: 17px; color: #000;
}
.toggle-h1{
	padding-top: 10px;
}
#slide-show{
	margin-top: 250px;
}
.mySlides{
	display: none;
}
#form4{
	width: 40%; 
	position: relative; 
	border-radius: 0; 
	background-color: salmon; 
	left: 350px; 
	height: 330px;
}
#login-snip{
	position: relative; width: 20%; height: 50px; top: 30px; left: 20px; border: none;
}
#closes{
	position: absolute; 
	color:#fff; 
	left: 450px; 
	top: 0px; 
	cursor: pointer; 
	font-size: 50px;
}
#form3 {
	position: absolute;
	left: 60%;
	top: 3200px;
	width: 30%;
	height: 330px;
	color: #000;
	background-color: silver;
}
input[type=button]{
	width: 350px;
	height: 45px;
	border: none;
	color: #fff;
	background-color: #4CAF50;
}
.contactUs {
	margin-left: 22%;
	font-weight: normal;
	color: #000;
}
.video {
	height: 550px;
}
.video-description{
	position: relative;
	left: 22%;
	top: 40px;
	width: 60%;
	color: #000;
}
iframe {
	position: relative;
	left: 24%;
	top: 80px;
	box-shadow: 0 4px 20px 0 rgb(0, 0, 0, 19);
	border: none;
}
.footer {
	height: 450px;
	background-color: #000;
}
.WeAre {
    margin-left: 65px;
	padding-top: 20px;
	font-weight: normal;
	color: #fff;
}
.Last_description {
	position: absolute;
	left: 32%;
	top: 4240px;
	font-size: 25px;
	color: #fff;
}
.index {
	color: rgb(255, 255, 255);
}
.fa_instagram{
	margin-left: 60px;
}
.fa i{
	position: relative;
	left: 35px;
	margin-top: 20px;
	margin-right: 15px;
	font-size: 30px;
}
address {
	position: absolute;
	left: 32%;
	top: 4280px;
	width: 20%;
	color: rgb(255, 255, 255);
	font-size: 17px;
}
.fa-facebook {
	background-color: rgb(5, 58, 128);
	color: #fff;
	padding: 12px;
	border-radius: 10px;
}
.fa-twitter {
	background-color: rgb(16, 92, 192);
	color: #fff;
	padding: 12px;
	border-radius: 10px;
}
.fa-vk {
	background-color: rgb(0, 12, 80);
	color: #fff;
	padding: 12px;
	border-radius: 10px;
}
.fa-instagram {
	background-color: rgb(128, 5, 15);
	color: #fff;
	padding: 12px;
	border-radius: 10px;
}
#map{
	margin-left: 10%;
	margin-top: 60px;
	width: 80%;
	height: 250px;
} 
input[type=search]{
	border: none;
	margin-top: 10px;
	padding: 12px;
	width: 100%;
}
#marker3 {
	position: absolute;
	top: 4395px;
	width: 350px;
	height: 250px;
	background-color: #f1f1f1;
	display: none;
}
.fa-search{
	position: absolute;
	left: 260px;
	top: 25px;
}
#search {
	color: #000;
	font-size: 20px;
}
.fa-facebook {
	cursor: pointer;
}
.fa-instagram{
	cursor: pointer;
}
.fa-bookmark {
	padding: 12px;
	color: #fff;
	background-color: #331ad4;
	cursor: pointer;
}
.fa-phone {
	padding: 12px;
	color: #fff;
	background-color: #4CAF50;
	cursor: pointer;
}
.fa-share {
	padding: 12px;
	color: #fff;
	background-color: blue;
	cursor: pointer;
}
.fa-save {
	padding: 12px;
	color: #fff;
	background-color: #331ad4;
	cursor: pointer;
}
input[type=search]{
	margin-left: 15px;
	width: 80%;
}
#close-map{
	position: relative;
	left: 10px;
	top: 5px;
	cursor: pointer;
	font-size: 40px;
	font-weight: bold;
	color: #000;
} 
#marker1 {
	position: absolute;
	top: 4395px;
	width: 350px;
	height: 250px;
	background-color: #f1f1f1;
	display: none;
}
#marker1-modal {
	position: absolute;
	top: 4450px;
	left: 30%;
	background-color: rgb(0, 0, 0);
	color: #fff;
	text-align: center;
	width: 10%;
	border-radius: 10px;
}
.checked {
	color: gold;
}
